<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="field is-horizintal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input
            name="amount"
            required
            style="width: 100px"
            type="number"
            placeholder="Amount"
            class="input"
            [ngModel]="item.amount"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input
            required
            name="description"
            type="text"
            placeholder="Description"
            class="input"
            [ngModel]="item.description"
          />
        </p>
      </div>
      <div class="field is-narrow">
        <button
          type="submit"
          [disabled]="!itemForm.valid"
          class="button is-primary"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</form>
